streamlit>=1.35.0
pymupdf
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb
rank_bm25
sentence-transformers
einops
groq
protobuf==3.20.3
googleapis-common-protos==1.56.4
opentelemetry-api==1.12.0
opentelemetry-sdk==1.12.0
opentelemetry-proto==1.12.0
opentelemetry-exporter-otlp-proto-grpc==1.12.0
opentelemetry-instrumentation-fastapi==0.33b0
